In [ ]:
Introduction to python programming :

In [ ]:
understanding the variables in python :

In [1]:
x = 2
y = 3

In [2]:
z = x+y

print(z)

5

In [ ]:
Rules for declaring the variables :

In [ ]:
Rule No - 1 : No namespaces while declaring the variable name

In [3]:
first name = 'Faiyaz'

print(first name)

SyntaxError: invalid syntax (3242007496.py, line 1)

In [4]:
firstname = 'faiyaz'

print(firstname)

faiyaz

In [5]:
first_name = 'Faiyaz'

print(first_name)

Faiyaz

In [ ]:
Rule No 2 : A variable name should not start with a number **

In [6]:
1name = 'james'

print(1name)

SyntaxError: invalid syntax (1439544744.py, line 1)

In [7]:
name1 = 'james'

print(name1)

james

In [ ]:
Rule no 3 : A variable name should not contain any special characters

In [ ]:
! @ # $ &

In [8]:
name@ = 'fouzia'

print(name@)

SyntaxError: invalid syntax (4017470715.py, line 1)

In [ ]:
Introduction to Datatypes :
    
    1. Strings ==========> str
    
    2. Number ====> integers ----> int , floats( decimals) ==> 0.1, 0.2 ====> float
    
    3. Lists ====> list
    
    4. tuples ====> tuple
    
    5. Dictionaries ========> dict

In [ ]:
classification of datatypes :
    
    Broadly data types are classified in to two different categeories 
    
    1.Mutable datatypes =====> which we can able to edit / alter  =====> flexible in nature
    
    2.Immutable datatypes ====> which we cannot able to edit / alter ====> fixed in nature

In [12]:
#introduction to string datatype :
    
#Defination : A string is nothing but a series of characters declared in quotes.
    
#classification : it is an immutable datatype
    
#how to define the string ======?

#1. single quote

#2. double quote

In [9]:
a = 'dhaval'  # single quote

print(a)

dhaval

In [10]:
b = "parul"   # double quote

print(b)

parul

In [ ]:
# is used for commenting the lines.